<h3> {{ title }} </h3>
<div class="input-group">
    <span class="input-group-btn" >
      <button class="btn btn-primary" type="button" (click)="changeValue(-increaseValue)">
        <i class="mdi mdi-minus"></i>
      </button>
    </span>
    <input type="number" class="form-control"
          #txtProgress
          name="progress" 
          [(ngModel)]="initValue" 
          (ngModelChange) = "ngModelchangeValue($event)"
          minlength="1" 
          maxlength="100">
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="changeValue(increaseValue)">
            <i class="mdi mdi-plus"></i>
        </button>
    </span>
  </div>